/* ================= GLOBAL STYLES & VARIABLES ================= */
:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --accent-color: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ================= COMMON CLASSES ================= */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

/* ================= HEADER ================= */
.page-header {
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
}

.logo-studio-header {
  color: var(--dark-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.contact-info {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-color);
}

/* ================= HERO SECTION ================= */
.hero-section {
  background-color: var(--dark-color);
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* ================= FEATURES SECTION ================= */
.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================= TEAM SECTION ================= */
.team-section {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white-color);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================= PORTFOLIO SECTION ================= */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ================= FOOTER ================= */
.page-footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.logo-studio-footer {
  color: var(--light-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  max-width: 264px;
  margin-top: 16px;
}